@charset "utf-8";
@font-face {
    font-family: centuryGothic;
    src: url(fonts/GOTHIC.TTF);
}
/*html, body{
    height: 100%;
    margin: 0;
    padding: 0;
	font-family:centuryGothic;
}
div
{
	
}
header
{
	background-image:url(images/images.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
div.color
{
	position:relative;
	background-color:#9E005D;
	width:100%;
	text-align:center;
	height:400px;
	opacity:.7;
}
#MMC
{
	position:absoulte;
	top:0px;
	left:0px;
}
#aTitle
{
	position:absolute;
	top:0px;
	left:0px;
}
#newslabel
{
	position:absolute;
	background-color:#FFFFFF;
	width:100px;
	height:50px;
	opacity:1;
	top:0px;
	left:0px;
}
h1.headerWhite
{
	font-family:centuryGothic;
	font-size:36px;
	color:#FFFFFF;
	padding:0;
	margin:0;
	display:inline;
}
h1.headerMaroon
{
	font-family:centuryGothic;
	font-size:36px;
	color:#9E005D;
	padding:0;
	margin:0;
	display:inline;
}*/
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 300px; }
  
.container {
width: 80%;
margin: 0 auto;
padding: 0 30px; }

div.navSection
{
	width:80%;
	align-content:center;
	margin: 0 auto;
	border-bottom:3px solid #BBB;
}
div.navSection h1
{
	font-family:centuryGothic;
	font-size:32px;
}
div.navSection h2
{
	font-family:centuryGothic;
	font-size:12px;
	color:#999999
}

div.navSection h6
{
	font-family:centuryGothic;
	font-size:8px;
	color:#999999;
}
div.navSection p
{
	text-align:center;
	font-family:centuryGothic;
	font-size:18px;
	
}

div.sectionTitle
{
	position:relative;
	height:200px;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0px -100px;
}
div.color
{
	position:absolute;
	width:100%;
	height:200px;
	opacity:.8;
	display:inline-block;
}
div.colorText
{
	position:absolute;
	color:#FFFFFF;
	top:-25px;
	font-family:centuryGothic;
	font-size:48px;
	width:100%;
	font-weight: 400;
}
header {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
	text-align:center;
	background-image:url(images/images.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0px -100px;
}

header h1#logo {
	position:absolute;
	top:0px;
	left:100px;
    display: inline-block;
    height: 150px;
    float: left;
    font-family: centuryGothic;
    font-size: 60px;
    color:#F1F1F1;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header h1#featureArticle {
	position:absolute;
	top:100px;
	left:100px;
	width:600px;
    display: inline-block;
    height: 150px;
    float: left;
    font-family: centuryGothic;
    font-size: 40px;
    color:#F1F1F1;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header .newsTop
{
	position:absolute;
	top:250px;
	left:100px;
}
header .picLogo
{
	position:absolute;
	bottom:-5px;
	left:0px;
	width:80px;
}
div.headerColor
{
	position:relative;
	width:100%;
	height:400px;
	opacity:.8;
	display:inline-block;
}


header.smaller {
    height: 100px;
}
header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 42px;
}
header.smaller div.color
{
	opacity:1.0;
}

@media all and (max-width: 660px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    
    header.smaller {
        height: 100px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 42px;
    }
}
input[type="button"]
{
	color:#FFFFFF; border:none; font-family:centuryGothic; font-size:20px;
}
input[type="button"].newsTop
{
	color:#9E005D; border:none; font-family:centuryGothic; font-size:20px;background-color:#F1F1F1;
}
a
{
	text-decoration:none;
	color:inherit;
}